# Configuration file

fluids {
    S:fluid.aerotheum.cardrank=
    S:fluid.aerotheum.grammar=
    S:fluid.aerotheum.instability.factor_accessibility=
    S:fluid.aerotheum.instability.factor_flat=
    S:fluid.bacterialsludge.cardrank=
    S:fluid.bacterialsludge.grammar=
    S:fluid.bacterialsludge.instability.factor_accessibility=
    S:fluid.bacterialsludge.instability.factor_flat=
    S:fluid.bacterialsludge.seabanned=
    S:fluid.coal.cardrank=
    S:fluid.coal.grammar=
    S:fluid.coal.instability.factor_accessibility=
    S:fluid.coal.instability.factor_flat=
    S:fluid.coal.seabanned=
    S:fluid.cryotheum.cardrank=
    S:fluid.cryotheum.grammar=
    S:fluid.cryotheum.instability.factor_accessibility=
    S:fluid.cryotheum.instability.factor_flat=
    S:fluid.cryotheum.seabanned=
    S:fluid.ender.cardrank=
    S:fluid.ender.grammar=
    S:fluid.ender.instability.factor_accessibility=
    S:fluid.ender.instability.factor_flat=
    S:fluid.ender.seabanned=
    S:fluid.fuel.cardrank=
    S:fluid.fuel.grammar=
    S:fluid.fuel.instability.factor_accessibility=
    S:fluid.fuel.instability.factor_flat=
    S:fluid.fuel.seabanned=
    S:fluid.glowstone.cardrank=
    S:fluid.glowstone.grammar=
    S:fluid.glowstone.instability.factor_accessibility=
    S:fluid.glowstone.instability.factor_flat=
    S:fluid.mana.cardrank=
    S:fluid.mana.grammar=
    S:fluid.mana.instability.factor_accessibility=
    S:fluid.mana.instability.factor_flat=
    S:fluid.mana.seabanned=
    S:fluid.matter_plasma.cardrank=
    S:fluid.matter_plasma.grammar=
    S:fluid.matter_plasma.instability.factor_accessibility=
    S:fluid.matter_plasma.instability.factor_flat=
    S:fluid.matter_plasma.seabanned=
    S:fluid.molten_tritanium.cardrank=
    S:fluid.molten_tritanium.grammar=
    S:fluid.molten_tritanium.instability.factor_accessibility=
    S:fluid.molten_tritanium.instability.factor_flat=
    S:fluid.molten_tritanium.seabanned=
    S:fluid.myst.ink.black.cardrank=
    S:fluid.myst.ink.black.grammar=
    S:fluid.myst.ink.black.instability.factor_accessibility=
    S:fluid.myst.ink.black.instability.factor_flat=
    S:fluid.myst.ink.black.seabanned=
    S:fluid.oil.cardrank=
    S:fluid.oil.grammar=
    S:fluid.oil.instability.factor_accessibility=
    S:fluid.oil.instability.factor_flat=
    S:fluid.oil.seabanned=
    S:fluid.petrotheum.cardrank=
    S:fluid.petrotheum.grammar=
    S:fluid.petrotheum.instability.factor_accessibility=
    S:fluid.petrotheum.instability.factor_flat=
    S:fluid.petrotheum.seabanned=
    S:fluid.pyrotheum.cardrank=
    S:fluid.pyrotheum.grammar=
    S:fluid.pyrotheum.instability.factor_accessibility=
    S:fluid.pyrotheum.instability.factor_flat=
    S:fluid.pyrotheum.seabanned=
    S:fluid.redplasma.cardrank=
    S:fluid.redplasma.grammar=
    S:fluid.redplasma.instability.factor_accessibility=
    S:fluid.redplasma.instability.factor_flat=
    S:fluid.redplasma.seabanned=
    S:fluid.redstone.cardrank=
    S:fluid.redstone.grammar=
    S:fluid.redstone.instability.factor_accessibility=
    S:fluid.redstone.instability.factor_flat=
    S:fluid.redstone.seabanned=
    S:fluid.steam.cardrank=
    S:fluid.steam.grammar=
    S:fluid.steam.instability.factor_accessibility=
    S:fluid.steam.instability.factor_flat=
    S:fluid.witchwater.cardrank=
    S:fluid.witchwater.grammar=
    S:fluid.witchwater.instability.factor_accessibility=
    S:fluid.witchwater.instability.factor_flat=
    S:fluid.witchwater.seabanned=
    S:ic2.fluidbiogas.cardrank=
    S:ic2.fluidbiogas.grammar=
    S:ic2.fluidbiogas.instability.factor_accessibility=
    S:ic2.fluidbiogas.instability.factor_flat=
    S:ic2.fluidbiomass.cardrank=
    S:ic2.fluidbiomass.grammar=
    S:ic2.fluidbiomass.instability.factor_accessibility=
    S:ic2.fluidbiomass.instability.factor_flat=
    S:ic2.fluidbiomass.seabanned=
    S:ic2.fluidconstructionfoam.cardrank=
    S:ic2.fluidconstructionfoam.grammar=
    S:ic2.fluidconstructionfoam.instability.factor_accessibility=
    S:ic2.fluidconstructionfoam.instability.factor_flat=
    S:ic2.fluidconstructionfoam.seabanned=
    S:ic2.fluidcoolant.cardrank=
    S:ic2.fluidcoolant.grammar=
    S:ic2.fluidcoolant.instability.factor_accessibility=
    S:ic2.fluidcoolant.instability.factor_flat=
    S:ic2.fluidcoolant.seabanned=
    S:ic2.fluiddistilledwater.cardrank=
    S:ic2.fluiddistilledwater.grammar=
    S:ic2.fluiddistilledwater.instability.factor_accessibility=
    S:ic2.fluiddistilledwater.instability.factor_flat=
    S:ic2.fluiddistilledwater.seabanned=
    S:ic2.fluidhotcoolant.cardrank=
    S:ic2.fluidhotcoolant.grammar=
    S:ic2.fluidhotcoolant.instability.factor_accessibility=
    S:ic2.fluidhotcoolant.instability.factor_flat=
    S:ic2.fluidhotcoolant.seabanned=
    S:ic2.fluidhotwater.cardrank=
    S:ic2.fluidhotwater.grammar=
    S:ic2.fluidhotwater.instability.factor_accessibility=
    S:ic2.fluidhotwater.instability.factor_flat=
    S:ic2.fluidhotwater.seabanned=
    S:ic2.fluidpahoehoelava.cardrank=
    S:ic2.fluidpahoehoelava.grammar=
    S:ic2.fluidpahoehoelava.instability.factor_accessibility=
    S:ic2.fluidpahoehoelava.instability.factor_flat=
    S:ic2.fluidpahoehoelava.seabanned=
    S:ic2.fluidsteam.cardrank=
    S:ic2.fluidsteam.grammar=
    S:ic2.fluidsteam.instability.factor_accessibility=
    S:ic2.fluidsteam.instability.factor_flat=
    S:ic2.fluidsuperheatedsteam.cardrank=
    S:ic2.fluidsuperheatedsteam.grammar=
    S:ic2.fluidsuperheatedsteam.instability.factor_accessibility=
    S:ic2.fluidsuperheatedsteam.instability.factor_flat=
    S:ic2.fluiduumatter.cardrank=
    S:ic2.fluiduumatter.grammar=
    S:ic2.fluiduumatter.instability.factor_accessibility=
    S:ic2.fluiduumatter.instability.factor_flat=
    S:ic2.fluiduumatter.seabanned=
}


instability {
    S:global.difficulty=
    B:global.enabled=true
}


